.about {
  padding-bottom: 94px;

  @media screen and (max-width: 1199px) {
    display: none;
  }

  &__list {
    display: flex;
  }

  &__list-item:not(:last-child) {
    margin-right: 30px;
  }

  &__list-link {
    display: block;
    position: relative;
  }
  &__list-label {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    width: 100%;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: $primary-white-color;
    background-color: $transparent-color;
  }
}
