.features {
  padding-top: 94px;
  padding-bottom: 94px;

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__item {
    width: 270px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.71;
  }
}

.svg-container {
  margin-bottom: 30px;
  padding: 25px 100px;
  height: 120px;
  background-color: $background-color;
  border-radius: 4px;

  &__icon {
    width: 70px;
    height: 70px;
  }
}
