.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  background-color: $hero-footer-bg-color;
  background-image: $hero-gradient, url('../images/main-img.jpg');

  &__title {
    margin: 0 auto 30px auto;
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $primary-white-color;
  }
}
