.header {
  position: relative;
  background-color: $primary-white-color;
  border-bottom: 1px solid $header-border-color;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

// MOBILE MENU
.menu-btn {
  display: inline-flex;
  border: none;
  outline: none;
  background-color: transparent;

  & .icon-cross {
    display: none;
  }

  &.is-open .icon-cross {
    display: block;
  }
  &.is-open .icon-menu {
    display: none;
  }
  &:hover .mobile-menu,
  &:focus .mobile-menu {
    fill: $accent-color;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mobile-menu {
  transition: fill 250ms $timing-function;
}

.menu-container {
  &.is-open {
    display: block;
  }

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 60px 120px;
    background: $primary-white-color;
    box-shadow: $mobile-menu-shadow;
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }
}
// NAVIGATION

.navigation {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    margin-right: 84px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 305px;
  }

  &__list {
    display: flex;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }

    @media screen and (min-width: 768px) {
      align-items: center;
    }
  }

  &__list-item:not(:last-child) {
    @media screen and(max-width: 767px) {
      margin-bottom: 40px;
    }

    @media screen and(min-width: 768px) {
      margin-right: 50px;
    }
  }

  &__list-item {
    transition: padding 250ms $timing-function;
  }

  &__list-item:hover,
  &__list-item--active {
    @media screen and(max-width: 767px) {
      padding-bottom: 8px;
    }
  }

  &__list-link {
    position: relative;
    color: $title-text-color;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms $timing-function;

    @media screen and (min-width: 768px) {
      display: block;
      padding-top: 32px;
      padding-bottom: 32px;
      font-size: 14px;
      line-height: 1.14;
    }
    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.14;
    }

    &:focus,
    &:hover {
      color: $accent-color;
    }

    &--active {
      color: $accent-color;
    }

    &::after {
      content: '';
      display: flex;
      position: absolute;
      bottom: -1px;
      width: 100%;
      height: 4px;
      background-color: $accent-color;
      border-radius: 2px;
      opacity: 0;
      transition: opacity 250ms $timing-function;

      @media screen and (max-width: 767px) {
        bottom: -8px;
      }
    }

    &--active::after {
      opacity: 1;
    }

    .navigation__list-item:hover &::after {
      opacity: 1;
    }
  }
}

// CONTACTS

.contacts-list {
  text-align: center;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__item + &__item {
      margin-left: 50px;
    }
  }

  &__link {
    font-size: 18px;
    line-height: 1.16;
    font-weight: 500;
    color: $text-color;
    text-decoration: none;
    transition: color 250ms $timing-function;
    align-items: center;

    @media screen and (min-width: 768px) {
      font-size: 12px;
    }
    @media screen and (min-width: 1200px) {
      align-items: center;
      display: flex;
      font-size: 14px;
      line-height: 1.14;
    }

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  &__item {
    & + & {
      margin-top: 16px;
    }
    @media screen and (min-width: 768px) {
      & + & {
        margin-top: 10px;
      }
    }
    @media screen and (min-width: 1200px) {
      text-align: center;
      & + & {
        margin-top: 0;
        margin-left: 30px;
      }
    }
  }
}

.contacts-logo {
  margin-right: 10px;
  fill: $text-color;
  transition: fill 250ms $timing-function;

  .contacts-list__link:focus &,
  .contacts-list__link:hover & {
    fill: $accent-color;
  }
}
