.projects {
  padding-top: 94px;
  padding-bottom: 94px;

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__list-card-link {
    text-decoration: none;
    display: block;
    position: relative;
    overflow: hidden;
  }

  &__list-card {
    margin-right: 30px;
    margin-bottom: 30px;
    /* width: 370px; */
    width: calc((100% - 60px) / 3);

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }

    &:hover,
    &:focus {
      box-shadow: $projects-card-shadow;
    }
  }

  &__list-card-label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 63px 24px;

    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 1.56;
    background: $overlay-color;
    color: $primary-white-color;

    transform: translateY(100%);
    transition: transform 250ms $timing-function;
  }

  &__list-card:hover &__list-card-label {
    transform: translateY(0);
  }

  &__list-card-link:focus &__list-card-label {
    transform: translateY(0);
  }

  &__list-card-img {
    max-width: 100%;
    height: auto;
  }

  &__list-card-content {
    padding: 20px 24px;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    border-left: 1px solid $border-color;
  }

  &__list-card-title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__list-card-text {
    font-size: 16px;
    line-height: 1.87;
    color: $text-color;
  }
}
