.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $background-color;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__list-card {
    text-align: center;
    padding-bottom: 24px;
    background-color: $primary-white-color;
    box-shadow: $team-card-shadow;
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
      @media screen and (max-width: 1199px) {
        margin-bottom: 30px;
      }
      @media screen and (min-width: 1200px) {
        margin-right: 30px;
      }
    }

    &:nth-child(2n + 1) {
      @media screen and (min-width: 768px) {
        margin-right: 30px;
      }
    }

    &:nth-last-child(-n + 2) {
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-bottom: 0;
      }
    }
  }

  &__list-card-img {
    @media screen and (min-width: 768px) {
      width: 354px;
      height: 374px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
      height: 260px;
    }
  }

  &__list-card-title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
  }

  &__list-card-profession {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.18;
  }
}
