body {
  background-color: $primary-white-color;
  color: $text-color;
  font-family: $main-font;
  font-weight: 400;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $title-text-color;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  border-radius: 4px;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  text-decoration: none;
  color: $primary-white-color;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px $button-shadow;
  border-radius: 4px;
}
