$main-font: 'Roboto', sans-serif;
$logo-font: 'Raleway', sans-serif;
$background-color: #f5f4fa;
$primary-white-color: #ffffff;
$hero-footer-bg-color: #2f303a;
$text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$footer-text: rgba(255, 255, 255, 0.6);
$header-border-color: #ececec;
$border-color: #eeeeee;
$icon-color: #afb1b8;
$overlay-color: rgba(33, 150, 243, 0.9);
$transparent-color: rgba(47, 48, 58, 0.8);
$backdrop-color: rgba(0, 0, 0, 0.2);
$close-btn-color: rgba(0, 0, 0, 0.1);
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$input-color: rgba(33, 33, 33, 0.2);
$placeholder-color: rgba(117, 117, 117, 0.5);
$button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$hero-gradient: linear-gradient(
  to right,
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)
);
$team-card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
$modal-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);

$social-links-bg-color: rgba(255, 255, 255, 0.1);
$subscribe-form-border: rgba(255, 255, 255, 0.3);
$filter-btn-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
$projects-card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
